@media(max-widht:1000px){


}


@media (max-width:670px) {
  .lesson{
    margin: 0 auto;
    width:100%;
  }
  .container{
    height:70px;

  }
  .container h1{
    font-size:20px;
  }
  .footer{
    text-align: center;
  }
  .titles{
    text-align:left;
    padding-top:130px;

  }
  .titles h2{
    font-size:14px;
  }
  .container p{
    display: none;
  }
  .contents-item p{
    padding-left:10%;
  }
  .titles{
    padding-top: 30px;
  }
}
