html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
   font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}
header{

}
.container{
  background-color: #26d0c9;
  color: #fff;
  width:100%;
  position: fixed;
  z-index: 10;
  height: 90px;
}
.container h1{
  font-size: 36px;
  padding:  20px 40px;
  float: left;
}
.container p{
  float: left;
  margin: 33px 20px;
}

.btn-container a{
  display: inline-block;
  color: #fff;
  margin: 33px 20px;
  text-decoration: none;
}
.btn-container a :hover{
  background-color: block;
}




.main{
  padding: 210px 0 300px 0;
  background-image: url(https://get.pxhere.com/photo/laptop-computer-macbook-working-cafe-technology-business-coding-programming-design-screenshot-personal-computer-personal-computer-hardware-computer-program-698768.jpg);
  background-size: cover;
  color: white;
  z-index: 11;

}
.content-wrapper{
  width: 100%;
  margin:0 auto;
  opacity: 1;
  position: relative;
}
.titles{
  margin:0 auto;
  opacity:0.8;
  position: absolute;
  width: 100%;
  top:23%;
  left:3%;
}
.title{
  font-size:60px;
  letter-spacing:5px;
  padding-left: 2%;
}

.main h2{
  font-size: 27px;
  padding-top: 15px;
  padding-left: 19%;

}







.contents{
  margin-top: 30px;

}
.content-title{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding:15px;
  margin-bottom: 50px;
}
.lesson{
  float: left;
  width: 28%;
  padding-left:5%;
}
.clear{
  clear:left;
}

.icon1{
  background: rgba(192,0,0,0.5);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  padding:10px;
}
.icon2{
  background: rgba(0,192,0,0.5);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  padding:10px;
}
.icon3{
  background: rgba(0,0,192,0.5);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  padding-bottom: 10px;
}

.contents-item{
  position:relative;
  margin-bottom: 35px;
}
.contents-item p{
  position: absolute;
  top: 44%;
  margin-left: 35%;
  opacity: 0.7;
  color:white;
  font-weight: bold;

}
.lessons{
  background-color: #f7f7f7;
  padding-bottom: 80px;
}
.content-title{
  padding:30px 30px 10px 30px;
}



.flow-wrapper{
  margin-top:10px;
  width: 100
  padding:50px;
}

.flow-title{
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 10px;
  padding-top: 15px;
}
.flow-title h1{
  padding-left: 5%;
}
.flow{
  padding-left:5%;
}



.footer-container{
  width: 100%;
  height: 90px;
}
.footer-title{
  border-top: 2px solid #dee7ec;
}

footer h3{
  padding-left:5%;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
  padding-left: 5%;
}
footer {
  padding-top: 30px;
}
.faceinsta{
  display: block;
  text-align: right;
  padding:20px;
  text-decoration: none;

}
